@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
  box-sizing: border-box;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;

  background-color: #0d526a;
  margin: 0;
  padding: 0;
}

*, *::before, *::after {
  box-sizing: inherit;
}

.title {
  background-color: #000;
  margin: 0;
  padding: 0.5em;
}

.burp {
  border: 2px;
  border-style: dashed;
}

.numbers {
  border: 2px;
  border-style: dashed;
}

.calories {
  border: 2px;
  border-style: dashed;
}

.girl {
  border: 2px;
  border-style: dashed;
}

.avoid {
  border: 2px;
  border-style: dashed;
}

.title0 {
  fill:#FFFFFF;
}

.title1 {
  fill:#006C38;
}

.title2 {
  fill:#C4D82E;
}

.title3 {
  fill:none;
  stroke:#C4D82E;
  stroke-width:3;
  stroke-miterlimit:10;
}

.title4 {
  fill:#7FBB42;
}

.burp0 {
  opacity:0.88;
  fill:#FFFFFF;
  stroke:#FFFFFF;
  stroke-miterlimit:10;
}

.burp1 {
  fill:#7FBB42;
}

.burp2 {
  fill:#FFFFFF;
}

.burp3 {
  fill:#FFFFFF;
  stroke:#FFFFFF;
  stroke-miterlimit:10;
}

.burp4 {
  fill:#C4D82E;
  stroke:#C4D82E;
  stroke-miterlimit:10;
}

.burp5 {
  fill:#009B9B;
  stroke:#009B9B;
  stroke-miterlimit:10;
}

.burp6 {
  fill:#009B9B;
}

.number0 {
  fill:#FFFFFF;
}

.number1 {
  fill:#008743;
}

.number2 {
  fill:#006C38;
}

.number3 {
  fill:#C4D82E;
}

.number4 {
  fill:#51BA83;
  stroke:#51BA83;
  stroke-miterlimit:10;
}

.number5 {
  fill:#C4D82E;
  stroke:#C4D82E;
  stroke-miterlimit:10;
}

.number6 {
  fill:#FFFFFF;
  stroke:#FFFFFF;
  stroke-miterlimit:10;
}

.cals0 {
  fill:#FFFFFF;
}

.cals1 {
  fill:none;
}

.cals2 {
  fill:#51BA83;
}

.cals3 {
  fill:#C4D82E;
}

.cals4 {
  fill:#C4D82E;
  stroke:#C4D82E;
  stroke-miterlimit:10;
}

.cals5 {
  fill:#0D526A;
  stroke:#C4D82E;
  stroke-miterlimit:10;
}

.cals6 {
  fill:#C4D82E;
  stroke:#C4D82E;
  stroke-width:1.097974e-02;
  stroke-miterlimit:10;
}

.cals7 {
  fill:#009B9B;
  stroke:#009B9B;
  stroke-miterlimit:10;
}

.girl0 {
  fill:#FFFFFF;
}

.girl1 {
  fill:none;
}

.girl2 {
  fill:none;
  stroke:#FFFFFF;
  stroke-miterlimit:10;
}

.girl3 {
  fill:#FFFFFF;
  stroke:#FFFFFF;
  stroke-width:0.3629;
  stroke-miterlimit:10;
}

.girl4 {
  fill:#FFFFFF;
  stroke:#FFFFFF;
  stroke-width:0.3983;
  stroke-miterlimit:10;
}

.girl5 {
  fill:#C4D82E;
  stroke:#C4D82E;
  stroke-width:8.680066e-02;
  stroke-miterlimit:10;
}

.girl6 {
  fill:#FFFFFF;
  stroke:#FFFFFF;
  stroke-width:0.3404;
  stroke-miterlimit:10;
}

.girl7 {
  fill:#FFFFFF;
  stroke:#FFFFFF;
  stroke-width:0.3529;
  stroke-miterlimit:10;
}

.girl8 {
  fill:#51BA83;
}

.avoid0 {
  fill:#FFFFFF;
}

.avoid1 {
  fill:none;
  stroke:#FFFFFF;
  stroke-miterlimit:10;
}

.avoid2 {
  fill:none;
}

.avoid3 {
  fill:#C4D82E;
}
