@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
  box-sizing: border-box;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;

  background-color: #0d526a;
  margin: 0;
  padding: 0;
}

*, *::before, *::after {
  box-sizing: inherit;
}

.title {
  background-color: #000;
  margin: 0;
  padding: 0.5em;
}

.burp {
  border: 2px;
  border-style: dashed;
}

.numbers {
  border: 2px;
  border-style: dashed;
}

.calories {
  border: 2px;
  border-style: dashed;
}

.girl {
  border: 2px;
  border-style: dashed;
}

.avoid {
  border: 2px;
  border-style: dashed;
}

.title0 {
  fill: #fff;
}

.title1 {
  fill: #006c38;
}

.title2 {
  fill: #c4d82e;
}

.title3 {
  fill: none;
  stroke: #c4d82e;
  stroke-width: 3;
  stroke-miterlimit: 10;
}

.title4 {
  fill: #7fbb42;
}

.burp0 {
  opacity: 0.88;
  fill: #fff;
  stroke: #fff;
  stroke-miterlimit: 10;
}

.burp1 {
  fill: #7fbb42;
}

.burp2 {
  fill: #fff;
}

.burp3 {
  fill: #fff;
  stroke: #fff;
  stroke-miterlimit: 10;
}

.burp4 {
  fill: #c4d82e;
  stroke: #c4d82e;
  stroke-miterlimit: 10;
}

.burp5 {
  fill: #009b9b;
  stroke: #009b9b;
  stroke-miterlimit: 10;
}

.burp6 {
  fill: #009b9b;
}

.number0 {
  fill: #fff;
}

.number1 {
  fill: #008743;
}

.number2 {
  fill: #006c38;
}

.number3 {
  fill: #c4d82e;
}

.number4 {
  fill: #51ba83;
  stroke: #51ba83;
  stroke-miterlimit: 10;
}

.number5 {
  fill: #c4d82e;
  stroke: #c4d82e;
  stroke-miterlimit: 10;
}

.number6 {
  fill: #fff;
  stroke: #fff;
  stroke-miterlimit: 10;
}

.cals0 {
  fill: #fff;
}

.cals1 {
  fill: none;
}

.cals2 {
  fill: #51ba83;
}

.cals3 {
  fill: #c4d82e;
}

.cals4 {
  fill: #c4d82e;
  stroke: #c4d82e;
  stroke-miterlimit: 10;
}

.cals5 {
  fill: #0d526a;
  stroke: #c4d82e;
  stroke-miterlimit: 10;
}

.cals6 {
  fill: #c4d82e;
  stroke: #c4d82e;
  stroke-width: 1.098;
  stroke-miterlimit: 10;
}

.cals7 {
  fill: #009b9b;
  stroke: #009b9b;
  stroke-miterlimit: 10;
}

.girl0 {
  fill: #fff;
}

.girl1 {
  fill: none;
}

.girl2 {
  fill: none;
  stroke: #fff;
  stroke-miterlimit: 10;
}

.girl3 {
  fill: #fff;
  stroke: #fff;
  stroke-width: 0.3629;
  stroke-miterlimit: 10;
}

.girl4 {
  fill: #fff;
  stroke: #fff;
  stroke-width: 0.3983;
  stroke-miterlimit: 10;
}

.girl5 {
  fill: #c4d82e;
  stroke: #c4d82e;
  stroke-width: 8.6801;
  stroke-miterlimit: 10;
}

.girl6 {
  fill: #fff;
  stroke: #fff;
  stroke-width: 0.3404;
  stroke-miterlimit: 10;
}

.girl7 {
  fill: #fff;
  stroke: #fff;
  stroke-width: 0.3529;
  stroke-miterlimit: 10;
}

.girl8 {
  fill: #51ba83;
}

.avoid0 {
  fill: #fff;
}

.avoid1 {
  fill: none;
  stroke: #fff;
  stroke-miterlimit: 10;
}

.avoid2 {
  fill: none;
}

.avoid3 {
  fill: #c4d82e;
}
